body {
  margin: 0 auto;
  padding: 20px;
}

.PageTitle {
  text-align: center;
  font-size: 2rem;
}

label {
  font-size: 1.25rem; 
}

.Body {
  margin-top: 3rem;
}

#result {
  display: none;
  margin-top: 1rem;
  font-size: 1.125rem;
}

img {
  max-width: 70%; 
  height: auto;
  position: relative;
  left: 16%;
}

input, select, button {
  width: 100%; 
  padding: 0.3125rem;
  margin-top: 0.5rem; 
  font-size: 1rem;
  border-radius: 30px;
  border: 1px solid #ccc;
}

input:focus, select:focus, button:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px #007bff;
}

button {
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background-color: #0056b3;
}

@media (min-width: 768px) {
  .Body, input, select, button {
    width: auto; 
    max-width: 500px;
  }

  img {
    position: absolute;
    left: 80%; 
    transform: translateX(-50%); 
    height: 300px; 
    top: 20%;
  }

  #fromUnit, #temperature, #toUnit, button {
    margin-left: 5px; 
  }

  button {
    width: 250px; 
  }
}
